CompileFlags:
  Remove: [-W*]
  Add:
    - --target=x86_64-pc-windows-gnu
    - -D_UNICODE
    - -DUNICODE
    - -xc
    - -std=gnu23
    - -Wall
    - -Wextra
    - -Wshadow
    - -Wno-varargs
  Compiler: clang

Index:
  StandardLibrary: Yes

Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: None
  ClangTidy:
    FastCheckFilter: None

Completion:
  AllScopes: true
  ArgumentLists: FullPlaceholders

InlayHints:
  BlockEnd: No
  Designators: Yes
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
  DefaultArguments: Yes
  TypeNameLimit: 24

Hover:
  ShowAKA: Yes
