CompileFlags:
  Remove: [-W*]
  Add:
    - -xc
    - -std=gnu23
    - -I../include
    - -DUNICODE
    - -Wall
    - -Wextra
    - -Wshadow
  Compiler: clang
  CompilationDatabase: None

Index:
  StandardLibrary: Yes

Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: None
  ClangTidy:
    FastCheckFilter: None

Completion:
  AllScopes: true
  ArgumentLists: FullPlaceholders

InlayHints:
  BlockEnd: No
  Designators: Yes
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
  DefaultArguments: Yes
  TypeNameLimit: 24

Hover:
  ShowAKA: Yes
